@media (max-width: 1000px){
 body{
   width: 50%;

 }

 .email{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
 margin: 5px 500px 5px 500px;
  
}
.password{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
 margin: 5px 500px 5px 500px;

  
}
.submit{
  padding-bottom: 10px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px 550px 5px 550px;

 
}
.search{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  

}
.nama {
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  
 margin: 5px 500px 5px 500px;

}
@media (max-width: 670px) {
body{
    width: 100%;
 }
 .email{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
 margin: 5px 200px 5px 200px;
  
}
.password{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
 margin: 5px 200px 5px 200px;

  
}
.submit{
  padding-bottom: 10px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px 550px 5px 550px;

 
}
.search{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  

}

}
@media (max-width: 670px){
footer {
    text-align: center; 
 }
 .email{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
 margin: 5px 100px 5px 100px;
  
}
.password{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
 margin: 5px 100px 5px 100px;

  
}
.submit{
  padding-bottom: 10px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px 100px 5px 100px;

 
}
.search{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  

}
.nama {
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  
 margin: 5px 100px 5px 100px;

}
@media (max width: 670px){
.btn {
     width: 100%;
}
.facebook {
     margin-bottom: 10px;
 }
}
 @media (max width: 670px){
.header-right {
     display: none;
 }
.menu icon{
     display: block;
 }
}

@media (max width: 720px){
.email{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
 margin: 5px 300px 5px 300px;
  
}
.password{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
 margin: 5px 300px 5px 300px;

  
}
.submit{
  padding-bottom: 10px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px 300px 5px 300px;

 
}
.search{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  

}
.nama {
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  
 margin: 5px 50px 5px 50px;

}
body{
  width: 20%;
}
  }}

@media (max width: 360px){
  .email{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
 margin: 5px 300px 5px 300px;
  
}
.password{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
 margin: 5px 300px 5px 300px;

  
}
.submit{
  padding-bottom: 10px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px 300px 5px 300px;

 
}
.search{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  

}
.nama {
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  
 margin: 5px 50px 5px 50px;

}
}

@media (max-width: 480px){
 body{
   width: 50%;

 }

 .email{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
 margin: 5px 100px 5px 100px;
  
}
.password{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
 margin: 5px 100px 5px 100px;

  
}
.submit{
  padding-bottom: 10px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px 100px 5px 100px;

 
}
.search{
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  

}
.nama {
  padding-bottom: 5px;
  border: 3px solid; white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  
 margin: 5px 10px 5px 10px;

}